* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  color: #333;
  font-family: "Space Mono", monospace;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
}

header {
  height: 160px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #ff9900;
}
a:hover {
  color: #dd8500;
}

.about {
  height: 100% !important;
}

.title {
  font-size: 2rem;
  color: #333;
  margin: 1rem 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2.5rem;
  text-decoration: none;
  cursor: pointer;
}
.title h1 {
  font-size: 2.5rem;
}

.content {
  /* min-height: calc(100vh - 140px); */
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 100%;
  overflow: auto;
  background-color: transparent;
  padding: 1rem;
}

.about-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 1.5rem;
}

.article-wrapper {
  height: 100%;
  margin: 1rem 0;
  align-self: start;
}
.article-wrapper p {
  margin: 1rem 0;
}
.article-wrapper h3 {
  margin-top: 2rem;
}

.loading {
  color: #999;
  font-weight: 500;
  font-size: 14px;
  padding: 0 1rem;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: #ff9900;
  cursor: pointer;
  padding: 7px 12px;
  width: 100%;
  color: #fff;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.btn:hover {
  background-color: #dd8500;
}

.footer {
  height: 80px;
  max-width: 800px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  font-size: 0.8rem;
  padding: 1rem;
}
.footer p {
  color: #999;
}

.currency-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
  grid-gap: 0.5rem;
}

.wrapper {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 30px;
}

.signal {
  font-weight: 700;
}

.price {
  padding: 0 1rem;
  font-size: 1.8rem;
  font-family: "Ubuntu", "Space Mono", sans-serif;
}

.glance {
  font-size: 1.8rem;
  font-family: "Ubuntu", "Space Mono", sans-serif;
}

.signal-panel {
  margin: 1rem 0;
  border-top: 1px solid #ff9900;
  width: 100%;
}

.timer {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.timer p:last-of-type {
  margin-left: 5px;
}

.built-by {
  display: flex;
  flex-direction: row;
}
.built-by a {
  margin-left: 5px;
}

.alert {
  font-size: 14px;
  padding: 0 !important;
  text-align: center;
  font-weight: normal;
}

.description {
  font-size: 12px;
  line-height: 1rem;
  color: #999;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
}

.about-header {
  margin: 1rem 0 2rem 0;
}

.responsive-text-center {
  text-align: center;
}

/* UTILS */
.responsive-column {
  flex-direction: column;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: row;
}
.min-h {
  min-height: 150px;
  justify-content: start;
  grid-gap: 1rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.ml-2 {
  margin-left: 1rem;
}
.mt {
  margin-top: 2rem;
}
.success {
  color: #37bc34;
  padding: 0 1rem;
}
.danger {
  color: #bc345b;
  padding: 0 1rem;
}
.active {
  background-color: #e68b02 !important;
}
.inactive {
  background-color: #ff9900 !important;
}
.w-full {
  width: 100%;
}
.text-white {
  color: white !important;
}
.ubuntu {
  font-family: "Ubuntu", "Space Mono", sans-serif;
}
.text-xl {
  font-size: 2.5rem;
}

/* media query */
@media screen and (min-width: 768px) {
  .wrapper {
    justify-content: start;
    grid-gap: 1rem;
  }

  .currency-panel {
    grid-gap: 1rem;
  }

  .btn {
    width: auto;
  }

  .mt-2 {
    margin: 0;
  }

  .footer {
    height: 50px;
    flex-direction: row;
  }

  .min-h {
    min-height: 67px;
    align-items: flex-start;
  }

  .alert {
    text-align: start;
  }

  .title h1 {
    font-size: 3.5rem;
  }

  .about-container {
    padding: 1rem;
  }

  .description {
    font-size: 14px;
    line-height: 1.5rem;
  }

  .responsive-text-center {
    text-align: start;
  }

  .responsive-column {
    flex-direction: row;
  }

  .ml {
    margin-left: 10px;
  }

  /* .currency-panel a {
    margin: 0 10px;
  } */
}
