<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://icons.iconarchive.com/icons/cjdowner/cryptocurrency-flat/1024/Bitcoin-BTC-icon.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Ubuntu:ital,wght@1,700&display=swap"
      rel="stylesheet"
    />
    <title>Bitcoin Glance - About</title>
  </head>
  <body class="about">
    <main id="about" class="about-container">
      <div class="about-header">
        <a href="./index.html" class="title"
          ><h1 class="ubuntu">Bitcoin Glance</h1>
          <p class="description">Quickly glance at the Bitcoin market</p>
        </a>
      </div>
      <article class="article-wrapper">
        <h2 class="ubuntu">About</h2>
        <p>
          Bitcoin Glance calculates Bitcoin market history to get a glance at
          the current conditions, depending on specific time frames.
        </p>
        <h3 class="ubuntu">Calculations</h3>
        <p>
          We use Ichimoku Kinkō Hyō as base of calculations and with the data
          coming of Binance Exchange API, we use all the trend catching
          capabilities of the Ichimoku framework to establish the current trend
          conditions of the Bitcoin market.
        </p>
        <h3 class="ubuntu">Time Frames</h3>
        <p>
          Bitcoin Glance use specific time frames for analyzing data: 4 hours, 1
          day and 1 week. We understand that with these time intervals you can
          have a good quick perspective for short, medium and long term market
          trends.
        </p>
        <h3 class="ubuntu">Legal Disclaimer</h3>
        <p>
          This app is for information purposes only. It is not intended to be
          investment advice. Seek a duly licensed professional for investment
          advice.
        </p>
      </article>
    </main>
    <footer class="footer">
      <div class="row">
        <a href="./index.html">Home</a>
        <a class="ml" href="./about.html">About</a>
      </div>
      <div class="built-by">
        <p id="footer"></p>
        <a href="https://github.com/tsaristbomba/" target="__blank">
          tsaristbomba</a
        >
      </div>
    </footer>
  </body>
</html>
