<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://icons.iconarchive.com/icons/cjdowner/cryptocurrency-flat/1024/Bitcoin-BTC-icon.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Ubuntu:ital,wght@1,700&display=swap"
      rel="stylesheet"
    />
    <title>Bitcoin Glance</title>
  </head>
  <body>
    <main class="container">
      <a href="./index.html" class="title"
        ><h1 class="ubuntu">Bitcoin Glance</h1>
        <p class="description">Quickly glance at the Bitcoin market</p>
        </a>
      <div class="currency-panel">
        <a href="./index.html" id="currency-usd" class="btn text-white">USD</a>
        <a href="" id="currency-brl" class="btn text-white">BRL</a>
      </div>
      <div class="w-full">

        <div class="wrapper" id="current-price">
          <h2>Price Now:</h2>
          <h2 class="price" id="brl"><span class="loading">loading...</span></h2>
        </div>
        <div class="signal-panel">
          <h2 class="mt responsive-text-center">Perspectives</h2>
          <div class="wrapper">
            <button class="btn" id="signal-4h">Short Term</button>
            <button class="btn ml" id="signal-1d">Medium Term</button>
            <button class="btn ml" id="signal-1w">Long Term</button>
          </div>
          <div class="wrapper min-h responsive-column">
            <h3><span id="time-frame"></span> Glance:</h3>
            <h3 class="glance" id="glance-brl"></h3>
            <p id="alert" class="danger alert"></p>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="row">
          <a class="ml" href="./about.html">About</a>
        </div>
        <div class="built-by">
          <p id="footer"></p>
  
          <a href="https://github.com/tsaristbomba/" target="__blank">
            tsaristbomba</a
          >
        </div>
      </div>
    </footer>
  </body>
</html>
