<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Ubuntu:ital,wght@1,700&display=swap"
      rel="stylesheet"
    />
    <title>Bitcoin Glance</title>
  </head>
  <body>
    <main class="container">
      <a href="./index.html" class="title"
        ><h1 class="ubuntu">Bitcoin Glance</h1></a
      >
      <p class="description">Quickly glance at the Bitcoin market</p>
      <div class="currency-panel">
        <a href="" id="currency-usd" class="btn text-white">USD</a>
        <a href="./brl.html" id="currency-brl" class="btn text-white">BRL</a>
      </div>
      <div class="wrapper" id="current-price">
        <h2>Price Now:</h2>
        <h3 class="price" id="usd"><span class="loading">loading...</span></h3>
      </div>
      <div class="signal-panel">
        <div class="wrapper mt">
          <button class="btn" id="signal-4h">4hr Glance</button>
          <button class="btn ml" id="signal-1d">1D Glance</button>
          <button class="btn ml" id="signal-1w">1W Glance</button>
        </div>
        <div class="wrapper min-h">
          <h2><span id="time-frame"></span> Glance:</h2>
          <h3 class="glance" id="glance-usd"></h3>
          <p id="alert" class="danger alert"></p>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="row">
        <p id="footer"></p>
        <a class="ml" href="./about.html">About</a>
      </div>
      <p class="built-by">
        built by
        <a href="https://github.com/tsaristbomba/" target="__blank">
          tsaristbomba</a
        >
      </p>
    </footer>
  </body>
</html>
